body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;

  background-image: linear-gradient(90deg,
      #9572fc 0%,
      #43e7ad 50.52%,
      #e2d45c 100%);
}

.card_Container {
  max-width: 100%;
}

.catalog .info {
  margin: auto 50px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
}

.team {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
}

img {
  height: 200px;
  border-radius: 50%;
}

h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

button {
  background-color: #007bff;
  width: 80px;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem auto;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.input {
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  margin-left: 100px;
}

.teamGool {
  font-size: 1.2rem;
  margin: 10px 0;
}

div#result {
  background-image: linear-gradient(90deg,
      #5a3fad 0%,
      #2ab685 50.52%,
      #b6ac51 100%);

  border-radius: 10px;
}

div#resultGool {
  background-image: linear-gradient(90deg,
      #5a3fad 0%,
      #2ab685 50.52%,
      #b6ac51 100%);

  border-radius: 10px;
}

.info {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}